.note {
    width: 200px;
    height: 200px;
    background: #FDFDFD;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    padding: 20px 16px;
}

.note:hover {
    border: 3px solid #B90445;
}

.noteContent {
    font-size: 25%;
}
