.note {
    width: 200px;
    height: 200px;
    background: var(--note-background);
    box-shadow: var(--note-box-shadow);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    padding: 20px 16px;
}

.note:hover {
    border: 3px solid var(--accent-color);
}

.noteContent {
    font-size: 25%;
}
